<header class="header-area overlay bg-secondary">
    <nav class="navbar navbar-expand-md navbar-dark">
        <div class="container">
            <a class="navbar-brand">FeastFreedom.com</a>
            <div id="main-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li><button routerLink="/customer-page" class="nav-item nav-link btn btn-secondary">Home</button></li>
                    <li><button routerLink="/kitchen-form" class="nav-item nav-link btn btn-secondary">New Kitchen</button></li>
                    <li><button class="nav-item nav-link btn btn-secondary">Contact Us</button></li>
                    <li><button class="nav-item nav-link btn btn-secondary">Cart</button></li>
                    <li><button (click)="logOut()" class="nav-item nav-link btn btn-secondary">Logout</button></li>
                </ul>
            </div>
        </div>
    </nav>
</header>