<header class="header-area overlay bg-secondary">
    <nav class="navbar navbar-expand-md navbar-dark">
        <div class="container">
            <a class="navbar-brand">FeastFreedom.com</a>
            <div id="main-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li><a href="customer-page" class="nav-item nav-link active">Home</a></li>
                    <li><a href="kitchen-form" class="nav-item nav-link">New Kitchen</a></li>
                    <li><a class="nav-item nav-link">Contact Us</a></li>
                    <li><a class="nav-item nav-link">Cart</a></li>
                    <li><a href="logout" class="nav-item nav-link">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>