<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.mx-auto.css">
</head>
<nav class="navbar navbar-expand-sm navbar-dark bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <h3>FeastFreedom.com</h3>
      <div class="mx-auto">
        <a routerLink="/provider-form">Provider Register now</a>
      </div>
      <i class="fa fa-shopping-cart"></i>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <!-- <div> -->

      <div class="d-flex">
        <div class="dropdown me-1">
          <a class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
            data-bs-offset="10,20" routerLink="/login-form">Login</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item">Manage user</a></li>
            <li><a class="dropdown-item"><span class="glyphicon glyphicon-off"></span>Logout</a></li>
          </ul>
        </div>
      </div>
      &nbsp;&nbsp;
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill"
        viewBox="0 0 16 16">
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
      </svg>
    </div>
    <!-- </div> -->
  </div>
</nav>

<router-outlet></router-outlet>