<app-navbar></app-navbar>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-xl-3 mt-5" *ngFor="let kitchen of kitchens">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="card-title align-self-center mb-0">
                        <h5>{{kitchen.serviceProviderName}}</h5>
                        <p class="m-0"></p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><em class="fa fa-home float-right"></em> Address : 123 St 72345</li>
                    <li class="list-group-item"><em class="fa fa-envelope float-right"></em> Email : <a href="#">email@email.com</a></li>
                    <li class="list-group-item"><em class="fa fa-phone float-right"></em> Phone : 000 123-456</li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit">
                            Menu
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>