<div class="container h-100">
    <div class="row h-100">
        <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
            <div class="d-table-cell align-middle">
                <div class="text-center text-white">
                    <h1 class="h2">Register</h1>
                    <p class="lead">
                        Join our application today as a Customer or Service Provider and start enjoying Feast Freedom together!
                    </p>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="m-sm-4">
                            <form [formGroup]="registerForm" (ngSubmit)="signup()" ngNativeValidate>
                                <h4 class="text-center">First Name</h4>
                                <div class="form-group mb-2">
                                    <input class="form-control form-control-lg" type="text" formControlName="firstName" placeholder="Enter your first name" required>
                                </div>
                                <h4 class="text-center">Last Name</h4>
                                <div class="form-group mb-2 mt-2">
                                    <input class="form-control form-control-lg" type="text" formControlName="lastName" placeholder="Enter your last name" required>
                                </div>
                                <h4 class="text-center">Email</h4>
                                <div class="form-group mb-2 mt-2">
                                    <input class="form-control form-control-lg" type="email" formControlName="email" placeholder="Enter your email" required>
                                </div>
                                <h4 class="text-center">Password</h4>
                                <div class="form-group mb-2 mt-2">
                                    <input class="form-control form-control-lg" type="password" formControlName="password" placeholder="Enter password" required>
                                </div>
                                <h4 class="text-center">Select Account Type</h4>
                                <select class="form-select mt-2" formControlName="role" aria-label="Default select example">
                                    <option value="CUSTOMER" selected>Customer</option>
                                    <option value="SERVICEPROVIDER">Service Provider</option>
                                </select>
                                <div class="text-center mt-3">
                                    <a href="#" class="btn btn-lg btn-secondary mx-5">Login</a>
                                    <button type="submit" class="btn btn-lg btn-secondary mx-5">Sign up</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>